colorama
diffusers
draccus
future
grasp_nms
grpcio
h5py
IPython
json_numpy
keyboard
ninja
numpy==1.26.4
open3d
opentelemetry-api
opentelemetry-exporter-jaeger
opentelemetry-instrumentation
packaging
pin==2.6.21
protobuf==5.29
pynput
quaternionic
rosbags
rosbags.image
rotary_embedding_torch
rtree
ruckig
scikit-build-core
scikit-learn
setuptools
shapely
transformers==4.46.3
trimesh
wheel
